.scheduler-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scheduler-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,.5);
}

.scheduler{
    position: relative;
    background: white;
    border: 1px solid black;
    max-height: 80vh;
    width: 768px;
    padding: 1rem 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
    z-index: 1;
    &>*{
        margin: .5rem 0;
    }
}

.scheduler-note{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        color: gray;
    }
}

.scheduler-close{
    position: absolute;
    top: .5rem;
    right: .5rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.scheduler-note_buttons{
    button{
        align-self: flex-start;
        background: none;
        border: none;
        color: blue;
        text-decoration: underline;
    }
}

.scheduler-last, .scheduler-scheduled{
    padding: 1rem;
    background: rgba(105,184,235,.3);
    box-sizing: border-box;
}

.scheduler-last_title, .scheduler-scheduled_title{
    display: flex;
    justify-content: space-between;
}

.scheduler-last_details{
    display: flex;
    margin: .5rem 0;
    p{
        margin-right: 1rem;
    }
}

.scheduler-scheduled{
    textarea{
        width: 100%;
        margin: .25rem 0;
    }
}

.scheduler-scheduled_dropdowns{
    margin: .5rem 0 0 0;
    select{
        width: 120px;
    }
}

.scheduler-scheduled_actions{
    display: flex;
    justify-content: space-between;
    select{
        width: 120px;
    }
    div:last-child{
        display: flex;

    }
}

.scheduler-buttons{
    display: flex;
    flex-direction: column;
}

.scheduler-button_save{
    align-self: center;
}

.scheduler-button_add{
    align-self: flex-start;
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
}

// Client Contact Table
.client-contact{
    position: relative;
    z-index: 3;

    table{
        display: none;
        width: 400px;
        top: 90%;
        right: 10%;
        position: absolute;
        border: 1px solid black;
    }

    &:hover{
        table{
            display: table;
        }
    }
}

