.table-container{
    padding: .5rem;
    background: white;
    margin-bottom: 1rem;
}

table{
    background: white;
    border: 1px solid black;
    font-size: .75rem;
    width: 100%;
    
    border-collapse: collapse;
    
}

th{
    text-align: left;
    background: #C31A21;
    color: white;
    text-decoration: underline;
}

.row-selected{
    background: #65FFFF;
}

.table-filters{
    display: flex;
    justify-content: space-between;
}

.table-filters_tabs{
    align-self: flex-end;
}

.table-tab{
    border-bottom: 2px solid white;
    border-right: 1px solid rgb(118, 118, 118);
    border-left: 1px solid rgb(118, 118, 118);
    border-top: 1px solid rgb(118, 118, 118);
    border-radius: 1px 1px 0 0;
    color: blue;
}

.table-tab.active{
    border-top: 2px solid orange;
    background: white;
}

.table-filters_form{
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    &>div{
        margin-left: 1rem;
    }
}

.col-pbar{
    width: 5rem;
}

.col-pbar_header{
    display: flex;
    justify-content: space-around;
}

.col-link{
    color: blue;
    text-decoration: underline;
}

.task-cell{
    strong{
        color: blue;
        text-decoration: underline;
    }
}