.table-container{
    padding: .5rem;
    background: white;
    margin-bottom: 1rem;
}

.showing-text{
    font-size: .875rem;
    color: #C31A21;
}

.label-wrapper{
    margin-bottom: .5rem;
}

table{
    background: white;
    border: 1px solid black;
    font-size: .75rem;
    width: 100%;
    
    border-collapse: collapse;
    
}

th{
    text-align: left;
    background: #C31A21;
    color: white;
    text-decoration: underline;
}

td{
    padding: .25rem;
}

tr:nth-child(even) {background: #E4E4E4;}

.table-filters{
    display: flex;
    justify-content: space-between;
}

.table-filters_tabs{
    align-self: flex-end;
}

.table-tab{
    border-bottom: 2px solid white;
    border-right: 1px solid rgb(118, 118, 118);
    border-left: 1px solid rgb(118, 118, 118);
    border-top: 1px solid rgb(118, 118, 118);
    border-radius: 1px 1px 0 0;
    color: blue;
}

.table-tab.active{
    border-top: 2px solid orange;
    background: white;
}

.table-filters_form{
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    &>div{
        margin-left: .5rem;
    }
}

.task-cell{
    display: flex;
    img{
        height: 1rem;
        width: 1rem;
        margin-right: .25rem;
    }
}

.task-cell_late{
    justify-self: end;
}

.col-pbar{
    width: 5rem;
}

.col-pbar_header{
    display: flex;
    justify-content: space-around;
}

.col-link{
    color: blue;
    text-decoration: underline;
}

.col-scheduled{
    strong{
        color: blue;
        text-decoration: underline;
    }
}

th .sort-options{
    margin-right: .5rem;
    position: relative;

    img{
        width: 1rem;
        height: 1rem;
    }

    .sort-options_dropdown{
        background-color: #C31A21;
        padding: 2px;

        border-radius: .25rem;
        width: 75px;

        position: absolute;
        top: 100%;
        right: 0;

        button{
            display: block;
            width: 100%;
        }
    }
}



// tooltip styles
.tooltip{
    position: relative;
}

/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    display: inline-block;
    background-color: rgb(239, 239, 239);
    border: 1px solid black;
    text-align: center;
    padding: 5px 0;
    border-radius: .25rem;
    color: black;
    width: 250px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 25%;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }