.table-container{
    padding: .5rem;
    background: white;
}

table{
    background: white;
    border: 1px solid black;
    font-size: .75rem;
    width: 100%;
    
    border-collapse: collapse;
}

th{
    text-align: left;
    background: #C31A21;
    color: white;
    text-decoration: underline;
}

.row-selected{
    background: #65FFFF;
}

.table-filters{
    display: flex;
    justify-content: space-between;
}

.table-filters_tabs{
    align-self: flex-end;
}

.table-filters_form{
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
    &>div{
        margin-left: 1rem;
    }
}