@import "./header";
@import "./actions";
@import "./table";
@import "./scheduler";
@import "./pbar";
@import "./log";

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    position: relative;
}

main{
    margin-top: 1.5rem;
    padding: 1rem;
    background: rgba(105,184,235,.3);
}

h1{
    text-align: center;
    color: #C31A21;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem 0 1.5rem;
}

h3{
    font-weight: bold;
    margin: 0;
    font-size: 1.25rem;
}

p{
    font-size: .75rem;
    margin: 0;
}

label{
    text-transform: uppercase;
    font-size: .75rem;
}

textarea, select, input{
    box-sizing: border-box;
}

// margin utility
.mr-s{
    margin-right: .5rem;
}

.mx-s{
    margin: 0 .5rem;
}

// misc

.user-switcher{
    position: absolute;
    top: 20px;
    right: 20px;
}